# Dependencies
node_modules
.pnpm-store

# Build
dist
build

# Cache
.cache
.parcel-cache
.vite

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
